{% extends "base.html" %}

{% block title %}
  Login
{% endblock title %}

{% block content %}
 <div class="mx-auto content">
    

<form method="post" class="max-w-sm mx-auto mt-10">
  
  {% if messages %}
  {% for message in messages %}
  
    {% if message.tags == 'info' %}
      <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
        <span class="font-medium">Warning!</span> {{ message }}
      </div>
    {% elif message.tags == 'success' %}
      <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
        <span class="font-medium">Success!</span> {{ message }}
      </div>
    {% elif message.tags == 'error' %}
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <span class="font-medium">Error!</span> {{ message }}
      </div>  
    {% endif %}
  {% endfor %}
{% endif %}

  
    {% csrf_token %}
    <div class="mt-5 mb-5 top">
        <h1 class="text-3xl font-bold">Login</h1>
    </div>
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your Username or Email</label>
      <input type="text" id="username_or_email" name="username_or_email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="mkali@gmail.com or Mkali" required />
    </div>
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
      <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value="" clas9s="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required />
      </div>
      <label for="remember" class="text-sm font-medium text-gray-900 ms-2">Remember me</label>
    </div>
    <div class="mb-5 sign_u">
      <label class="text-sm font-medium text-gray-900 ms-2">Don't have an account? <a href="{% url 'register' %}" class="text-blue-600 hover:underline">Register</a></label>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Login</button>

    <div class="mt-10 footer">
        <hr class="h-px my-8 bg-gray-200 border-0">
        <p class="text-xs text-center ">©2024 Trainer Management System is a registered trademark. All Rights Reserved.</p>
    </div>
    
  </form>   
      
 </div>
{% endblock content %}