{% extends "manager_base.html" %}

{% block title %}Manager Dashboard{% endblock title %}

{% block header %}
    Payroll Management
{% endblock header %}

{% block content %}
    <div class="container mx-auto mt-6" id="messages">
        {% if messages %}
        {% for message in messages %}
        
          {% if message.tags == 'info' %}
            <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
              <span class="font-medium">Warning!</span> {{ message }}
            </div>
          {% elif message.tags == 'success' %}
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
              <span class="font-medium">Success!</span> {{ message }}
            </div>
          {% elif message.tags == 'error' %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              <span class="font-medium">Error!</span> {{ message }}
            </div>  
          {% endif %}
        {% endfor %}
      {% endif %}
      
        <div class="flex items-center justify-between mb-4">
            <h2 class="text-2xl font-semibold">Overview</h2>
            
            <button data-modal-target="static-modal" data-modal-toggle="static-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
                Pay Trainer
            </button>

             <!-- Edit modal -->
            <div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed inset-0 z-50 items-center justify-center hidden w-full h-full">
                <!-- Backdrop -->
                <div class="fixed inset-0 bg-black opacity-70"></div>

                <div class="relative w-full max-w-2xl max-h-full p-4 overflow-y-auto">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 border-b rounded-t md:p-5">
                            <h3 class="text-xl font-semibold text-gray-900">
                                Pay Trainer
                            </h3>
                            <button type="button" class="inline-flex items-center justify-center w-8 h-8 text-sm text-gray-400 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 ms-auto" data-modal-hide="static-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 space-y-4 md:p-5">
                            <form method="post">
                                {% csrf_token %}
                                {{select_trainer_form.as_p}}
                                
                                <div id="trainer_details"></div>

                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mb-5 navigator">
            <button hx-get="{% url 'get_payroll_trainers' %}" hx-target="#payroll_details" hx-trigger="click" class="block mr-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
                Payroll Trainers
            </button>

            <button hx-get="{% url 'get_non_payroll_trainers' %}" hx-target="#payroll_details" hx-trigger="click" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
                None Payroll Trainers
            </button>
        </div>
        <div class="min-h-[70vh] overflow-y-auto bg-white content p-10" id="payroll_details">
            {% if payrolls %}             
                <div class="relative overflow-x-auto shadow-[0_3px_10px_rgb(0,0,0,0.2)] sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 rtl:text-right">
                        <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white rtl:text-right">
                            Trainers who are in Payroll.
                            <p class="mt-1 text-sm font-normal text-gray-500">In this table you will be able to view all users who are registered to Payroll.</p>
                        </caption>
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Trainer
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Payment for the month
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Pay Period Start
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Pay Period End
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Status
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payroll in payrolls %}            
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{payroll.trainer.user.username}}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{payroll.month | title}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{payroll.pay_period_start | date:"d M Y"}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{payroll.pay_period_end | date:"d M Y"}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {% if payroll.status == 'pending' %}
                                            <span class="inline-flex px-2 text-xs font-semibold leading-5 text-yellow-800 bg-yellow-100 rounded-full">
                                                Pending
                                            </span>
                                        {% elif payroll.status == 'paid' %}
                                            <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                                Approved
                                            </span>
                                        {% elif payroll.status == 'cancelled' %}
                                            <span class="inline-flex px-2 text-xs font-semibold leading-5 text-red-800 bg-red-100 rounded-full">
                                                Rejected
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td class="px-6 py-4 text-right">
                                        <a href="{% url 'payment_details' payroll.id %}" class="font-medium text-blue-600">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="p-4 text-sm text-gray-500 bg-gray-100 rounded-lg" role="alert">
                    <span class="font-medium">No Payroll</span> There are no users registered to Payroll.
                </div>
            {% endif %}
        </div>
    </div>


<script>
    const indicator = document.getElementById('indicator');
    const pay_btn_payroll = document.getElementById('pay_btn');
    const pay_btn_non_payroll = document.getElementById('pay_btn');

    const btn_remover = () => {
        alert('Hello');
        
    }
    
</script>



{% endblock content %}
