{% extends "manager_base.html" %}

{% block title %}Manager Dashboard{% endblock title %}

{% block header %}
    Payroll Management
{% endblock header %}

{% block content %}
    <div class="container mx-auto mt-6">
        {% if messages %}
        {% for message in messages %}
        
          {% if message.tags == 'info' %}
            <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
              <span class="font-medium">Warning!</span> {{ message }}
            </div>
          {% elif message.tags == 'success' %}
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
              <span class="font-medium">Success!</span> {{ message }}
            </div>
          {% elif message.tags == 'error' %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              <span class="font-medium">Error!</span> {{ message }}
            </div>  
          {% endif %}
        {% endfor %}
      {% endif %}
      
        <h2 class="mb-4 text-2xl font-semibold">Overview</h2>
        <div class="min-h-[70vh] overflow-y-auto bg-white content p-10">
            {% if payrolls %}             
                <div class="relative overflow-x-auto shadow-[0_3px_10px_rgb(0,0,0,0.2)] sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 rtl:text-right">
                        <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white rtl:text-right">
                            Users who are in Payroll
                            <p class="mt-1 text-sm font-normal text-gray-500">In this table you will be able to view all users who are registered to Payroll.</p>
                        </caption>
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Trainer
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Payment for the month
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Pay Period Start
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Pay Period End
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Status
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payroll in payrolls %}            
                                <tr class="bg-white border-b">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{payroll.trainer.user.username}}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{payroll.month | title}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{payroll.pay_period_start | date:"d M Y"}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{payroll.pay_period_end | date:"d M Y"}}
                                    </td>
                                    <td class="px-6 py-4">
                                        {% if payroll.status == 'pending' %}
                                            <span class="inline-flex px-2 text-xs font-semibold leading-5 text-yellow-800 bg-yellow-100 rounded-full">
                                                Pending
                                            </span>
                                        {% elif payroll.status == 'approved' %}
                                            <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                                Approved
                                            </span>
                                        {% elif payroll.status == 'rejected' %}
                                            <span class="inline-flex px-2 text-xs font-semibold leading-5 text-red-800 bg-red-100 rounded-full">
                                                Rejected
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td class="px-6 py-4 text-right">
                                        <a href="#" class="font-medium text-blue-600">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="p-4 text-sm text-gray-500 bg-gray-100 rounded-lg" role="alert">
                    <span class="font-medium">No Payroll</span> There are no users registered to Payroll.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
