{% extends 'manager_base.html' %}


{% block title %} Reports {% endblock title %}

{% block header %}
    Reports
{% endblock header %}

{% block content %}

{% if messages %}
        {% for message in messages %}
        
          {% if message.tags == 'info' %}
            <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
              <span class="font-medium">Warning!</span> {{ message }}
            </div>
          {% elif message.tags == 'success' %}
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
              <span class="font-medium">Success!</span> {{ message }}
            </div>
          {% elif message.tags == 'error' %}
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
              <span class="font-medium">Error!</span> {{ message }}
            </div>  
          {% endif %}
        {% endfor %}
      {% endif %}
<!-- Account Details Card -->
<div class="max-w-3xl mx-auto mt-8 bg-white rounded-lg shadow-lg">
    
    </div>
{% endblock content %}
