

{% extends 'trainer_base.html' %}

{% block title %}update details{% endblock title %}

{% block header %}Hello {{ request.user.username | title }}. {% endblock header %}

{% block content %}

<div class="messages">
  {% if messages %}
    {% for message in messages %}

      {% if message.tags == 'info' %}
        <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50" role="alert">
          <span class="font-medium">Warning!</span> {{ message }}
        </div>
      {% elif message.tags == 'success' %}
        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
          <span class="font-medium">Success!</span> {{ message }}
        </div>
      {% elif message.tags == 'error' %}
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="font-medium">Error!</span> {{ message }}
        </div>  
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

<div class="p-2 bg-white rounded-lg shadow md:p-4 mt-2 md:w-[60%] mx-auto h-[70vh] overflow-y-auto">
  
    <h2 class="mb-4 text-xl font-semibold">Trainer Schedules.</h2>
    
    <!-- Additional content and components can go here -->
   
</div>


{% endblock content %}
